.questions{
    margin-top: 5rem;
}


.asked{
font-family: Archivo;
font-style: normal;
font-weight: 500;
font-size: 2.5rem;
line-height: 2.75rem;
margin-bottom: 2rem;
letter-spacing: -0.02em;

}

.accordion-item{
    border-left: none !important;
    border-right: none !important;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 140%;
    /* or 22px */
    font-feature-settings: 'ordn' on;
}
